html {
  font-size: 15px; /* px means 'pixels': the base font size is now 15 pixels high  */
  font-family: 'Ubuntu', sans-serif; /*this should be the rest of the output you got from Google fonts */
  background-color: #a9abad; /*Sets Background-color to set value.  */
}

body {
  width: 600px; /*This forces the body to always be 600 pixels wide. */
  margin: 0px auto 40px auto; /*First value sets top to 0, second value sets right margin to auto, third sets bottom to 40 pixels high, fourth sets left to auto.*/
                  /*Auto is a special value that divides the available horizontal space evenly between left and right*/
  background-color: #f4f4f4; /*Sets the background-color to a value. */
  padding: 0px 20px 20px 20px; /*Four values for padding in pixels (top, right, bottom, left in that order).*/
  border: 5px solid black;
}

#art {
  color: blue;  /*change color of elements with id='art' */
}

.text{
  color:green;  /*change color of elements with class='text' */
}

h1 {
  font-size: 60px;  /*Will change only the h1 elements */
  text-align: center; /*Will center text */
  margin: 0;
  padding: 20px 0; /*Will set top and bottom to 20px, Will set left and right padding to 0px */
  color: #4fb5ff;
  text-shadow: 2px 2px 2px grey;  /*First value stes horizontal offset, Second sets Vertical, Third sets amount of blur, Fourth sets color. (Negative numbers go opposite of positive) */
}

p, li {
  font-size: 18px;      /*This will apply to all p and li elements */
  line-height: 2;     /*How many new lines it will print*/
  letter-spacing: 1px;    /*Spacing in between letters*/
}

img {
    display: block;   /*Convert to 'box' so we can add margin to it */
    margin: 0 auto;   /*First value sets top & bottom to 0, Second sets left and right to auto. Auto center the image. */
}

button {
  display: block; /*Convert to 'box' so we can add margin to it */
  margin: 1px 50px 0px auto;
  padding: 4px 4px;
  border: none;
  font-size: 18px;
  color: white; /*Color of text */
  background-color: #4fb5ff;  /*Color of button or background */
  cursor: pointer; /*changes mouse when it hovers over it */
}
